@{
    Layout = null;
}

<email>
    <To>@ViewBag.To</To>
    <Subject> Reset Password Notification @System.DateTime.Now.ToShortDateString()</Subject>
    <From>info@mtsin.com</From>
    <Cc />
    <BCc />
    <Body>
        <![CDATA[
        <div>
            <p> Hi <B>@ViewBag.LastName @ViewBag.FirstName</B> ,</p>
            <p>You're password has been changed successfully.</p>
            <p>New password</p><b>@ViewBag.Password</b>
            <p>      Thanks,    </p>
            <p>Admin</p>
        </div>
        ]]>
    </Body>
</email>

